p {
    color: #F0F3F4;
    
}
h3 {
    color:red ;
    text-align:center;
    
}
h5 {
    color:orange;
    text-align:left;
    
}
body {
    background-color:#7DBD9A;
}
#estilo1 
{
    background-color:#003719    ;
}
