p {
    color: #F0F3F4;
    
}
h3 {
    color:red ;
    text-align:center;
    
}
h5 {
    color:orange;
    text-align:left;
    
}
body {
    background-color:#2C3E50;
    ;
}
#estilo {
    background-color:#253442;
    ;
}
